Exercise - 1: Create a Jupyter Notebook

Exercise - 2: Create Markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise - 3: Create Markdown cell for an introduction.

Exercise - 10: Create Markdown cell to list Objectives.

__Objectives:__    
* This notebook is on what tools are used by Data Scientists.
* Which libraries are used in Data Science.
* Languages of Data Science.

In this notebook, Data Science Tools and Ecosystem are summerized.

Exercise - 4: Create a Markdown cell to list data science languages.

A list of Data Science Languages:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia

Exercise - 5: Create a Markdown cell to list data science libraries.

Some of the commonly used by Data Scientists include:
1. Numpy
2. pandas
3. scipi
4. ggplot2
5. plotly
6. seaborn

Exercise - 6: Create a Markdown cell with a table of Data Science Tools.

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
|Zeppelin|

Exercise - 7: Create a Markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise - 8: Create a Code cell to muliply and add numbers.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

Exercise - 9: Create a Code cell to convert minutes to hours.

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes/60
hours

3.3333333333333335

Exercise - 11: Create a markdown cell to indicate the Author's name.

## Author
Mohammad Ali Noor